div.page {
  display: flex;
  flex-direction: column;
}

div.lateral {
  display: flex;
  flex-direction: row;
}

div.content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

div.location {
  padding: 30px 40px;
  width: 95%;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;

  color: #40589e;
  letter-spacing: 2px;;
}