img#city {
  margin-right: 2%;
}

img#purple {
 position: absolute;
 top: 18%;
 left: 0%;
 height: 200px;
 width: 55% 
}

img#green1 {
 position: absolute;
 top: 45%;
 height: 200px;
 width: 100%;
}
img#green2 {
 position: absolute;
 top: 52%;
 height: 200px;
 width: 100%;
}

img#blue1 {
 position: absolute;
 top: 77%;
 height: 200px;
 width: 100%; 
}
img#blue2 {
 position: absolute;
 top: 84%;
 height: 200px;
 width: 100%;
}

@media only screen and (max-width: 500px) {
  img#purple {
    display: none;
  }

  img#green1 {
    display: none;
  }
  img#green2 {
    display: none;
  }
  
  img#blue1 {
    display: none;
  }
  img#blue2 {
    display: none;
  }
}

@media only screen and (max-width: 1350px) {
  img#city {
    display:none;
  }

  img#green1 {
    top: 45%;
  }
  img#green2 {
    top: 50%;
  }
  
  img#blue1 {
    top: 77%;
  }
  img#blue2 {
    top: 82%;
  }
}

@media only screen and (min-width: 1350px) {
  img#city {
    padding-left: 20%;
  }
}