.category {
  font-family: "Roboto";
  font-weight: bold;
  margin: 10px;
  padding: 10px 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 30px;
  border-color: #7f6fa4;
  color: #7f6fa4;
}

.category:hover {
  background-color: #604d8e;
  color: #ffffff;
}

.category-header {
  text-align: center;
  color: #604d8e;
  letter-spacing: 1px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
}

.category-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}