@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: Lato;
}

p.h0{
    font-size: 3rem;
    line-height: 1em;
    font-weight: 700;
    margin: 24px 0 24px 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

a {
    color: #57936E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #626865;
}

.blue {
    color: #4C6CA4
}

.green {
    color: #468590;
}

.link-button{
  color: white !important;
  text-decoration: none !important;
}

.link-button:hover {
  color: white !important;
}

// breakpoints
$mobileWidth: 900px;
$maxLayoutWidth: 1400px;

// padding for sticky header 
$headerHeight: 150px;
$desktopHeaderHeight: $headerHeight;
$mobileHeaderHeight: $headerHeight;

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

@mixin flex-column {
    display: flex;
    flex-flow: column;
}

@mixin flex-row {
    display: flex;
    flex-flow: row;
}

@mixin sticky ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: fixed;
    z-index: 100;
    top: $top;
    $right: $right;
    $bottom: $bottom;
    $left: $left;    
}

// anchor tag padding: https://css-tricks.com/hash-tag-links-padding/
@mixin anchor-tag-padding {
    display: block; 
    content: " "; 
    margin-top: -140px; 
    height: 140px; 
    visibility: hidden; 
    pointer-events: none;
}

$anchorActiveColor: #316E83;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }