@import '../../../common/styles/common.scss';

.ant-menu-submenu-title,
.ant-menu-item {
  white-space: normal !important;
  height: auto !important;
  line-height: 30px !important;
  margin-top: 10px !important;
  color: #707070;
  font-size: 18px;
}

.ant-page-header-heading-title{
  color: #316E83;
  font-size: 20px;
  font-weight: bold;
}

.ant-menu-submenu-title:hover {
  color: #707070  !important;
}

.ant-menu {
  background: #f8f8f8 !important;
}

.ant-menu-submenu-arrow {
  top: 16px !important;
}

.left-sidebar {
  position: sticky;
  max-width: 270px;
  top: $headerHeight;
  height: calc(80vh - #{$headerHeight});
  overflow: auto;
  @include scrollbars(3px, $anchorActiveColor, inherit);
  margin-top: 16px;
}

.layout-left-sidebar {
  position: unset;
}

@media only screen and (max-width: $mobileWidth) {
  .left-sidebar {
    position: unset;
    margin: 0;
    max-width: unset;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .ant-menu-submenu-arrow {
    padding-right: 24px;
  }

  .is-overlay {
    position: fixed;
    top: $headerHeight;
    bottom: 0px;
    overflow-y: scroll;
    z-index: 9999;
  }
  .is-overlay::-webkit-scrollbar {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}


