.ant-menu-submenu-title, .ant-menu-item{
    white-space: normal !important;
    height: auto !important;
    line-height: 30px !important;
    margin-top: 10px !important;
}

.ant-menu-submenu-arrow{
    top: 16px !important;
}

.left-sidebar{
    max-width: 270px;
}