.sidebar-guide{
    display: inline-block;
    background: none!important;
    border: none;
    padding: 10px 0 !important;
    font-family: "Poppins" !important;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-align: left;
  }