@import '../../common/styles/common.scss';

$maxLayoutWidth: 1400px;
$leftSidebarWidth: 240px;
$rightSidebarWidth: 240px;

div.main-layout {
    @include flex-column;
    max-width: $maxLayoutWidth;
    margin: 0 auto;

    >div.header {
        @include sticky($top: 0);
        width: 100%;
        max-width: $maxLayoutWidth;
    }

    @media only screen and (max-width: #{$mobileWidth}){
        >div.middle {
            @include flex-column;
            padding-top: $desktopHeaderHeight;
            min-height: calc(100vh - #{$desktopHeaderHeight});
    
            >div.content {
                padding: 16px;
            }

            >div.right-sidebar {
                display: none;
            }
        }
    }

    @media only screen and (min-width: #{$mobileWidth}){
        >div.middle {
            @include flex-row;
            padding-top: $mobileHeaderHeight;
            min-height: calc(100vh - #{$mobileHeaderHeight});
    
            >div.left-sidebar {
                min-width: $leftSidebarWidth;
            }

            >div.content {
                flex-grow: 1;
                padding: 16px;
            }
    
            >div.right-sidebar {
                min-width: $rightSidebarWidth;
            }
        }
    }
}
