div.quotes {
  margin: 200px 0px;
}

div.quote-container {
  display: flex;
  flex-direction: column;
}

div.quote-elem {
  z-index: 1;
  width: 60%;
  padding: 30px;
  margin: 50px 0px;

  background-color: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-style: normal;
  text-align: left;
}

div.left {
  align-self: flex-start;
  border-radius: 0px 30px 30px 0px;
  color: #4C6CA4;
}

div.right {
  align-self: flex-end;
  border-radius: 30px 0px 0px 30px;
  color: #604D8E;
}

div.org {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

div.quote {
  color: black;
  margin: 20px 0px 20px 40px;
  text-align: left;
  font-size: 14px;
}

div.author {
  margin-left: 40px;
  text-align: left;
  left: 20px;
  font-size: 14px;
}