/* 
  styling and coloring from guide
  Fonts:
    Source Sans Pro
    Roboto
    Montserrat
  
    Colors:
     Mains: #DCDCDC #F1F1F1 #FFFFFF #000000
     Secondary: #40589E
     Accent: #74E4D2

     From original site:
      #3686B9 #4C6CA4 #3484BC
      #604d8e 7f6fa4 988cb5 aca4c4
*/


div.category {
  padding: 30px 40px;
  text-align: left;
}

p#location {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #40589E;
}

p#category {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #40589E;
}