@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* html {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */
.footer {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(180deg, #5E73AF 0%, rgba(54, 134, 185, 0.65) 100%);
}
.footer-navigation {
  margin-top: 20px;
  margin-left: 40px;
  line-height: 30px
}
.footer .footer-navigation #subtitle {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}
.footer .footer-navigation .footer-local {
  margin-bottom: 8px;
}
.footer .disclaimer  {
  margin-top: 20px;
  margin-right: 40px;
  width: 40%;
  text-align: center;
}
.footer .disclaimer b {
  font-size: 17px;
  font-style: normal; 
  line-height: 30px;
}
.footer #disclaimer-text {
  font-size: 12px;
}
.footer-social-media .fb-link #fb-icon {
  font-size: 1px;
  height: 19.92px;
  width: 20.92px;
}
.footer-social-media .ig-link #ig-icon {
  font-size: 10px;
  height: 20px;
  width: 20px;
}
.footer-social-media .yt-link #yt-icon {
  font-size: 10px;
  height: 14px;
  width: 20px;
}
.footer-social-media .twitter-link #twitter-icon {
  font-size: 10px;
  height: 17px;
  width: 20.92px;
}
.footer-social-media .gplus-link #gplus-icon {
  font-size: 1px;
  height: 17px;
  width: 20.92px;
}
a {
  padding-right: 10px;
}
a:link {
  text-decoration: none;
  color: white;
}
/* a:active {
  text-decoration: none;
  box-shadow: 5px 5px #888888;
} */
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}