@import '../../common/styles/common';

$logoTextColor: #41579D;

$primaryColor: #fff;
$secondaryColor: #57936E;

$csLogoDiameter: 60px;
$menuHeight: 50px;

$desktopFontSize: 16px;
$mobileFontSize: 12px;

@mixin default-container{
    @include flex-row;
    width: 100%;
    align-items: center;
}

div.navbar {
    @include default-container;
    justify-content: space-around;
    background-color: $primaryColor;
}

div.logo {
    @include default-container;
    padding: 30px;

    img {
        height: $csLogoDiameter;
        width: $csLogoDiameter;
        margin: 0px 30px;
    }

    div {
        color: $logoTextColor;
        font-size: $desktopFontSize;
        &.organization {
            font-weight: bold;
            font-size: $desktopFontSize * 3 / 2;
        }
    }

    @media only screen and (max-width: $mobileWidth) {
        img {
            height: $csLogoDiameter * 2 / 3;
            width: $csLogoDiameter * 2 / 3;
        }

        div {
            font-size: $mobileFontSize;
            &.organization {
                font-size: $mobileFontSize * 3 / 2;
            }
        }
    }
}

div.menu {
    @include default-container;
    justify-content: space-around;
    min-height: $menuHeight;

    div.menu-item {
        @include flex-row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-height: $menuHeight;
    }

    a {
        color: $secondaryColor;
        text-decoration: none;
        &.selected {
            border-bottom: 3px solid #57936E;
        }
    }

    @media only screen and (max-width: $mobileWidth) {
        div.selected {
            background-color: $primaryColor;
        }

        a.selected {
            color: $secondaryColor;
            border-bottom: none;
        }
    }
}

@media only screen and (max-width: $mobileWidth) {
    div.navbar {
        flex-flow: column;
    }

    div.menu {
        background-color: $secondaryColor;
        a {
            color: $primaryColor;
        }
    }
}