html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.logo {
  display: flex;
  flex-grow: 1;
  padding: 10px 0 10px 25px;
}

.cs-logo-img {
  width: 75px;
  height: 75px;
}

.navigation {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  white-space: nowrap;
  overflow-x: auto;
  list-style: none;
  margin: 0; 
}

.navigation a {
  text-decoration: none;
  color: black;
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  padding: 8px;
  align-items: center;
  text-align: center;
}

/* .navigation a:hover {
  background: #4C6CA4;
  border-radius: 25px;
  color: white;
} */

@media all and (max-width: 800px) {
  .navigation {
    justify-content: end;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


