.guides-overview-container {
  position: relative;
}

.no-margin {
  margin: 0;
}

.guide-icon {
  height: 60px;
}

.go-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #40589e;
}

.go-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.go-header-container {
  display: inline-block;
  max-width: 450px;
  margin: 40px;
}

.guide-icon-section {
  align-items: stretch;
  background-color: #ecf1ff;
  display: inline-flex;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  margin-bottom: 200px;
}

.guide-btn {
  background-color: #4c6ca4;
  color: white;
  border: none;
  padding: 8px 64px 8px 64px;
  margin-bottom: 32px;
  text-align: center;
  align-self: center;
  border-radius: 50px;
  box-shadow: 0px 4px 2px rgba(96, 77, 142, 0.5);
  text-decoration-line: none;
}

.guide-box-text-container {
  width: 200px;
  text-align: center;
}

.banner-container {
  position: relative;
}

.bgBannerBottom {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  height: 250px;
  width: 100%;
  z-index: -1;
}
