.guide-page {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 32px;
    max-width: 1080px;
}

.guide-page * {
    font-family: Poppins;
}

.guide-page .guide-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #40589E;
    align-self: flex-start;
    margin: 0px 16px 0px 16px;
}

.guide-page .guide-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #40589E;
    align-self: flex-start;
    margin: 0px 16px 0px 16px;
}

.guide-page .guide-summary {
    margin: 16px 16px 48px 16px;
}

.guide-page .guide-container {
    display: flex;
    flex-flow: row wrap;
}

.guide-page .guide-column {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 45%;
}

.guide-page .guide-section {
    background-color: #f1f1f1;
    border-radius: 15px;
    border-style: solid;
    border-color: #40589E;
    margin: 0px 16px 32px 16px;
    padding-top: 24px;
    /* padding-bottom: 24px; */
}

/* title banner */
.guide-page .guide-section h3 {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #FFFFFF;
    background-color: #4C6CA4;
}

.guide-page .guide-section>*{
    padding-left: 32px;
    padding-right: 32px;
}