html {
    background: #F1F1F1;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 32px;
}

.banner-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #f1f1f1; */
    padding: 32px 0px 32px 0px;
}

.logo {
    background-color: white;
    margin: 16px;
    height: 150px;
    width: 150px;
}

.inner-banner {
    display: flex;
    flex-flow: column wrap;
    margin: 16px;

    justify-content: center;
    align-items: center;
}

.county-container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1920px;
    background-color: #f1f1f1;
}

.county-card  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 275px;
    margin: 16px;
    border-radius: 10px;

    background-size: cover;
    background-color: rgba(96, 77, 143, 0.75);
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.county-card:hover {
    animation-name: fadeout;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {background-color: rgba(96, 77, 143, 0.75);}
    to {background-color: rgba(0,0,0,0);}
}

.blue {
    color: #40589E
}

.no-underline {
    text-decoration: none;
}

.county-text  {
    font-family: Helvetica;
    margin: 16px;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

.guide-container  {
    display: flex;
    flex-flow: row wrap;
    max-width: 1920px;
    background-color: #f1f1f1;
}

.guide-item  {
    flex: 1 0 21%;
    margin: 15px;
    align-items: center;
    text-align: center;
    font-size: 30px;
}